@model Discriminant.Models.EquationPostModel
@{
    
    ViewBag.Title = "Index";
}

<h2>Equation A*X<sup>2</sup>+B*X+C</h2>

<form method="post">
    <div>
        <label>Input A</label>
        <input type="text" name="A" />
    </div>
    <div>
        <label>Input B</label>
        <input type="text" name="B" />
    </div>
    <div>
        <label>Input C</label>
        <input type="text" name="C" />
    </div>    
    
    <button type="submit" value="Save">Calculate</button>

</form>

