@model Discriminant.Models.EquationViewModel
@{
    ViewBag.Title = "CalculateDscrmnnt";
}

<h2>CalculateDscrmnnt</h2>
@using(Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m=>m.A)
    </div>
}

